/* SASS Template for converting tmThemes to Rouge / Pygments (css)     */
/* by Diego H <https://github.com/dieghernan/   */
/* Overall */
.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight pre { background: #193549; color: #FFFFFF; }

/* Comments */
.highlight .c { color: #0088FF; font-style: italic; }

.highlight .cp { color: #0088FF; font-style: italic; }

.highlight .cpf { color: #0088FF; font-style: italic; }

.highlight .cm { color: #0088FF; font-style: italic; }

.highlight .c1 { color: #0088FF; font-style: italic; }

.highlight .cs { color: #0088FF; font-style: italic; }

.highlight .ch { color: #0088FF; font-style: italic; }

/* Constants */
.highlight .se { color: #FF628C; }

.highlight .kc { color: #FF628C; }

.highlight .no { color: #FF628C; }

.highlight .ss { color: #FF628C; }

/* Numbers */
.highlight .m { color: #FF628C; }

.highlight .mb { color: #FF628C; }

.highlight .mh { color: #FF628C; }

.highlight .mo { color: #FF628C; }

.highlight .mf { color: #FF628C; }

.highlight .mi { color: #FF628C; }

.highlight .il { color: #FF628C; }

/* Entities */
.highlight .nc { color: #FFC600; }

.highlight .nd { color: #FFC600; }

.highlight .ne { color: #FFC600; }

.highlight .nf { color: #FFC600; }

.highlight .py { color: #FFC600; }

.highlight .nt { color: #9EFFFF; }

.highlight .nn { color: #FB94FF; }

.highlight .na { color: #ffc600; font-style: italic; }

/* Invalid */
.highlight .err { color: #F8F8F8; background-color: #800F00; }

.highlight .gr { color: #F8F8F8; background-color: #800F00; }

.highlight .gt { color: #F8F8F8; background-color: #800F00; }

.highlight .ne { color: #F8F8F8; background-color: #800F00; }

/* Keywords */
.highlight .k { color: #FF9D00; }

.highlight .kn { color: #FF9D00; }

.highlight .o { color: #FF9D00; }

.highlight .ow { color: #FF9D00; }

/* Markup */
.highlight .gs { color: #C1AFFF; font-weight: bold; }

.highlight .gh { color: #C8E4FD; background-color: #001221; }

.highlight .gu { color: #C8E4FD; background-color: #001221; }

.highlight .ge { color: #B8FFD9; font-style: italic; }

.highlight .ges { font-weight: bold; font-style: italic; }

/* Punctuation */
.highlight .p { color: #E1EFFF; }

.highlight .pm { color: #E1EFFF; }

.highlight .dl { color: #E1EFFF; }

.highlight .sh { color: #E1EFFF; }

/* Storage */
.highlight .kd { color: #ffc600; }

.highlight .kt { color: #ffc600; }

/* String */
.highlight .s { color: #3AD900; }

.highlight .sb { color: #9EFF80; }

.highlight .s1 { color: #9EFF80; }

.highlight .s2 { color: #9EFF80; }

.highlight .sx { color: #9EFF80; }

.highlight .si { color: #3AD900; }

.highlight .sr { color: #80FFC2; }

/* Support */
.highlight .nb { color: #80FFBB; }

.highlight .bp { color: #80FFBB; }

.highlight .fm { color: #EB939A; }

.highlight .vm { color: #EB939A; }

.highlight .nl { color: #80FFBB; }

/* Variable */
.highlight .vi { color: #CCCCCC; background-color: #0d3a58; }

.highlight .kp { color: #FF80E1; }

.highlight .nv { color: #CCCCCC; background-color: #0d3a58; }

.highlight .vc { color: #CCCCCC; background-color: #0d3a58; }

.highlight .vg { color: #CCCCCC; background-color: #0d3a58; }
