/* cobalt2 Theme for highlight.js
 *
 * Based on https://github.com/wesbos/cobalt2 tmTheme
 * Created by Wes Bos
 *
 * Adapted by Diego H <https://github.com/dieghernan/>
 */
 
// Based on Primsjs version: https://github.com/wesbos/cobalt2-prism

$foreground:  #f8f8f2;
$background:  #223545;
$highlight: #1f4662;

$comment: #0088FF; // hljs: comment
$constant_character_escape: #3AD900; // hljs: char.escape
$constant_language: #FF628C; // hljs: literal
$constant_numeric: #FF628C; // hljs: number
$constant_other_symbol: #3AD900; // hljs: symbol 
$entity_name: #ffc600; // hljs: function, class
$entity_name_tag: #f92672; // hljs: tag
$entity_name_tag_css: #3AD900;// hljs: selector-tag, selector-class
$entity_other_attribute-name_html: #3AD900; // hljs: attr
$entity_other_attribute-name_id: #3AD900;// hljs: id, selector
$invalid: #f92672; // hljs: deletion
$keyword_control: #FF9D00; // hljs: keyword
$keyword_other_important: #fd971f; // hljs: meta
$keyword_control_at-rule: #ffc600;// attr on yaml
$keyword_operator: #FF9D00;  // hljs: operator
$markup_bold: $foreground; // hljs: strong
$markup_italic: $foreground; // hljs: emphasis
$markup_heading: #FDC500; // hljs: section
$markup_raw: #FF9D00; // Primsjs: keyword
$punctuation_definition: #f8f8f2; // hljs: punctuation
$storage_type: $keyword_control; // Prismjs: keyword
$string: #3AD900; // hljs: string
$string_html: #ffc600; // hljs: string for html only
$string_regexp: #fd971f; // hljs: regexp
$support_constant:  $foreground; // hljs: property
$support_type: #f92672; // hljs: attribute
$variable: #f8f8f2; // hljs: variable
$variable_language: $variable; // hljs: variable language and constant

@import "./src/_hljs.scss";

// Styles, weights and others
// Comments in italic
.hljs-comment  {font-style: italic;}
// Headings
.hljs-section { background:#000;} 

// Special scope of cobalt2

.language-css.hljs {color:#EDF080;} // Overall
.language-css {
  .hljs-number, .hljs-literal {color:#EDF080;} // Literal, Numbers
  .hljs-selector-tag, .hljs-selector-id, 
  .hljs-selector-attr, .hljs-selector-pseudo {
    color: #9EFFFF;
  } // Selector
  .hljs-attribute {color: #9DF39F;} // property
}

/* Markdown */

.language-markdown {
  .hljs-link {color:#3AD900;}; // url
  .hljs-bullet {color:#FF9A1A;}; // list.punctuation
}

/* SCSS */

.language-scss.hljs {color:#E68885;} // Overall

.language-scss  {
  .hljs-attribute {color: #9DF39F} // property
  .hljs-variable {color:#ccc;} // variable
}

.language-json .hljs-attr {
    color: #3AD900;
}
