/* 
 * oksolar.light theme
 * author Diego H <https://github.com/dieghernan/>
 */

$bg_0: #F1E9D2;
$bg_1: #8FAAAB;
$bg_2: #98A8A8;
$dim_0: #657377;
$fg_0: #5B7279;
$fg_1: #093946;
$red: #F23749;
$green: #819500;
$yellow: #AC8300;
$blue: #2B90D8;
$magenta: #DD459D;
$cyan: #259D94;
$orange: #D56500;
$violet: #7D80D1;
$br_red: #F23749;
$br_green: #819500;
$br_yellow: #AC8300;
$br_blue: #2B90D8;
$br_magenta: #DD459D;
$br_cyan: #259D94;
$br_orange: #D56500;
$br_violet: #7D80D1;


$foreground: $fg_0; // Base color: usually on Settings > Foreground
$background: $bg_0; // Background color: usually on Settings > Background
$comment: $dim_0;
$constant_character_escape: $red;
$constant_language: $cyan;
$constant_numeric: $cyan;
$entity_name: $blue;
$entity_name_tag_css: $green;
$entity_other_attribute-name: $blue;
$entity_other_attribute-name_id: $green;
$entity_other_attribute-name_html: $green;
$invalid: $br_red;
$keyword_control: $green;
$keyword_control_import: $orange;
$keyword_operator: $green;
$markup_heading: $br_yellow;
$markup_raw: $blue;
$storage_type: $green;
$string: $cyan;
$support: $blue;
$support_type: $yellow;
$support_type_property-name: $blue;
$variable: $fg_0;
$variable_language: $red;
$variable_other: $orange;

@import "./src/_prismjs.scss"
