.foreground { color: #f8f8f2; }

.background { color: #223545; }

.highlight { color: #1f4662; }

.comment { color: #0088FF; }

.comment_block { color: #0088FF; }

.comment_line { color: #0088FF; }

.comment_line_number-sign { color: #0088FF; }

.constant_character_escape { color: #3AD900; }

.constant_language { color: #FF628C; }

.constant_numeric { color: #FF628C; }

.constant_numeric_float { color: #FF628C; }

.constant_numeric_integer { color: #FF628C; }

.constant_other { color: #3AD900; }

.constant_other_symbol { color: #3AD900; }

.entity_name { color: #ffc600; }

.entity_name_class { color: #ffc600; }

.entity_name_tag { color: #f92672; }

.entity_name_tag_css { color: #3AD900; }

.entity_name_type { color: #b6bcbd; }

.entity_other_attribute-name { color: #ffc600; }

.entity_other_attribute-name_id { color: #3AD900; }

.entity_other_attribute-name_html { color: #3AD900; }

.invalid { color: #f92672; }

.keyword_control { color: #FF9D00; }

.keyword_control_at-rule { color: #ffc600; }

.keyword_control_import { color: #FF9D00; }

.keyword_operator { color: #FF9D00; }

.keyword_other_important { color: #fd971f; }

.keyword_other_directive { color: #fd971f; }

.markup_bold { color: #f8f8f2; }

.markup_heading { color: #FDC500; }

.markup_italic { color: #f8f8f2; }

.markup_quote { color: #f8f8f2; }

.markup_raw { color: #FF9D00; }

.meta_doctype { color: #9EFFFF; }

.punctuation_definition { color: #f8f8f2; }

.storage_type { color: #FF9D00; }

.string { color: #3AD900; }

.string_interpolated { color: #3AD900; }

.string_quoted { color: #3AD900; }

.string_quoted_single { color: #3AD900; }

.string_quoted_double { color: #3AD900; }

.string_quoted_other { color: #3AD900; }

.string_regexp { color: #fd971f; }

.string_html { color: #ffc600; }

.support { color: #f8f8f2; }

.support_constant { color: #f8f8f2; }

.support_type { color: #f92672; }

.support_type_property-name { color: #3AD900; }

.variable { color: #f8f8f2; }

.variable_language { color: #f8f8f2; }

.variable_other { color: #f8f8f2; }
