/* Source: https://github.com/dieghernan/pretty-themes */
.foreground { color: #333; }

.background { color: #f7f7f7; }

.highlight { color: #DBDBDB; }

.comment { color: #60a0b0; }

.comment_block { color: #60a0b0; }

.comment_line { color: #60a0b0; }

.comment_line_number-sign { color: #60a0b0; }

.constant_character_escape { color: #333; }

.constant_language { color: #880000; }

.constant_numeric { color: #40a070; }

.constant_numeric_float { color: #40a070; }

.constant_numeric_integer { color: #40a070; }

.constant_other { color: #333; }

.constant_other_symbol { color: #333; }

.entity_name { color: #06287e; }

.entity_name_class { color: #06287e; }

.entity_name_tag { color: #06287e; }

.entity_name_tag_css { color: #06287e; }

.entity_name_type { color: #06287e; }

.entity_other_attribute-name { color: #7d9029; }

.entity_other_attribute-name_id { color: #7d9029; }

.entity_other_attribute-name_html { color: #7d9029; }

.invalid { color: #ff0000; }

.keyword_control { color: #007020; }

.keyword_control_at-rule { color: #007020; }

.keyword_control_import { color: #008000; }

.keyword_operator { color: #4070a0; }

.keyword_other_important { color: #007020; }

.keyword_other_directive { color: #007020; }

.markup_bold { color: #333; }

.markup_heading { color: #ba2121; }

.markup_italic { color: #333; }

.markup_quote { color: #333; }

.markup_raw { color: #007020; }

.meta_doctype { color: #60a0b0; }

.punctuation_definition { color: #333; }

.storage_type { color: #902000; }

.string { color: #4070a0; }

.string_interpolated { color: #4070a0; }

.string_quoted { color: #4070a0; }

.string_quoted_single { color: #4070a0; }

.string_quoted_double { color: #4070a0; }

.string_quoted_other { color: #4070a0; }

.string_regexp { color: #bb6688; }

.string_html { color: #4070a0; }

.support { color: #008000; }

.support_constant { color: #008000; }

.support_type { color: #008000; }

.support_type_property-name { color: #06287e; }

.variable { color: #19177c; }

.variable_language { color: #19177c; }

.variable_other { color: #19177c; }
