.foreground { color: #d6deeb; }

.background { color: #011627; }

.comment { color: #637777; }

.comment_block { color: #637777; }

.comment_line { color: #637777; }

.comment_line_number-sign { color: #637777; }

.constant_character_escape { color: #F78C6C; }

.constant_language { color: #FF5874; }

.constant_numeric { color: #F78C6C; }

.constant_numeric_float { color: #F78C6C; }

.constant_numeric_integer { color: #F78C6C; }

.constant_other { color: #82AAFF; }

.constant_other_symbol { color: #82AAFF; }

.entity_name { color: #d6deeb; }

.entity_name_class { color: #d6deeb; }

.entity_name_tag { color: #caece6; }

.entity_name_tag_css { color: #ff6363; }

.entity_name_type { color: #d6deeb; }

.entity_other_attribute-name { color: #c5e478; }

.entity_other_attribute-name_id { color: #FAD430; }

.entity_other_attribute-name_html { color: #ffffff; }

.invalid { color: #ff2c83; }

.keyword_control { color: #0c969b; }

.keyword_control_at-rule { color: #0c969b; }

.keyword_control_import { color: #0c969b; }

.keyword_operator { color: #d6deeb; }

.keyword_other_important { color: #0c969b; }

.keyword_other_directive { color: #0c969b; }

.markup_bold { color: #d6deeb; }

.markup_heading { color: #d6deeb; }

.markup_italic { color: #d6deeb; }

.markup_quote { color: #d6deeb; }

.markup_raw { color: #0c969b; }

.meta_doctype { color: #637777; }

.punctuation_definition { color: #d6deeb; }

.storage_type { color: #d6deeb; }

.string { color: #4876d6; }

.string_interpolated { color: #4876d6; }

.string_quoted { color: #c96765; }

.string_quoted_single { color: #c96765; }

.string_quoted_double { color: #c96765; }

.string_quoted_other { color: #c96765; }

.string_regexp { color: #4876d6; }

.string_html { color: #4876d6; }

.support { color: #d6deeb; }

.support_constant { color: #d6deeb; }

.support_type { color: #d6deeb; }

.support_type_property-name { color: #ff6363; }

.variable { color: #d6deeb; }

.variable_language { color: #d6deeb; }

.variable_other { color: #d6deeb; }
