.foreground { color: #5B7279; }

.background { color: #F1E9D2; }

.comment { color: #657377; }

.comment_block { color: #657377; }

.comment_line { color: #657377; }

.comment_line_number-sign { color: #657377; }

.constant_character_escape { color: #F23749; }

.constant_language { color: #259D94; }

.constant_numeric { color: #259D94; }

.constant_numeric_float { color: #259D94; }

.constant_numeric_integer { color: #259D94; }

.constant_other { color: #5B7279; }

.constant_other_symbol { color: #5B7279; }

.entity_name { color: #2B90D8; }

.entity_name_class { color: #2B90D8; }

.entity_name_tag { color: #2B90D8; }

.entity_name_tag_css { color: #819500; }

.entity_name_type { color: #2B90D8; }

.entity_other_attribute-name { color: #2B90D8; }

.entity_other_attribute-name_id { color: #819500; }

.entity_other_attribute-name_html { color: #819500; }

.invalid { color: #F23749; }

.keyword_control { color: #819500; }

.keyword_control_at-rule { color: #819500; }

.keyword_control_import { color: #D56500; }

.keyword_operator { color: #819500; }

.keyword_other_important { color: #819500; }

.keyword_other_directive { color: #819500; }

.markup_bold { color: #5B7279; }

.markup_heading { color: #AC8300; }

.markup_italic { color: #5B7279; }

.markup_quote { color: #5B7279; }

.markup_raw { color: #2B90D8; }

.meta_doctype { color: #657377; }

.punctuation_definition { color: #5B7279; }

.storage_type { color: #819500; }

.string { color: #259D94; }

.string_interpolated { color: #259D94; }

.string_quoted { color: #259D94; }

.string_quoted_single { color: #259D94; }

.string_quoted_double { color: #259D94; }

.string_quoted_other { color: #259D94; }

.string_regexp { color: #259D94; }

.string_html { color: #259D94; }

.support { color: #2B90D8; }

.support_constant { color: #2B90D8; }

.support_type { color: #AC8300; }

.support_type_property-name { color: #2B90D8; }

.variable { color: #5B7279; }

.variable_language { color: #F23749; }

.variable_other { color: #D56500; }
