/* Source: https://github.com/dieghernan/pretty-themes */
.foreground { color: #E6E6E6; }

.background { color: #292A2B; }

.highlight { color: #31353a; }

.comment { color: #676B79; }

.comment_block { color: #FFCC95; }

.comment_line { color: #676B79; }

.comment_line_number-sign { color: #676B79; }

.constant_character_escape { color: #45A9F9; }

.constant_language { color: #FFB86C; }

.constant_numeric { color: #E6E6E6; }

.constant_numeric_float { color: #E6E6E6; }

.constant_numeric_integer { color: #E6E6E6; }

.constant_other { color: #E6E6E6; }

.constant_other_symbol { color: #19f9d8; }

.entity_name { color: #6FC1FF; }

.entity_name_class { color: #19F9D8; }

.entity_name_tag { color: #6FC1FF; }

.entity_name_tag_css { color: #FF2C6D; }

.entity_name_type { color: #19f9d8; }

.entity_other_attribute-name { color: #FFB86C; }

.entity_other_attribute-name_id { color: #FFB86C; }

.entity_other_attribute-name_html { color: #FFB86C; }

.invalid { color: rgba(255, 44, 109, 0.62); }

.keyword_control { color: #FF75B5; }

.keyword_control_at-rule { color: #B084EB; }

.keyword_control_import { color: #FF75B5; }

.keyword_operator { color: #E6E6E6; }

.keyword_other_important { color: #FF4B82; }

.keyword_other_directive { color: #FF4B82; }

.markup_bold { color: #FFB86C; }

.markup_heading { color: #19f9d8; }

.markup_italic { color: #FF9AC1; }

.markup_quote { color: #FFB86C; }

.markup_raw { color: #19f9d8; }

.meta_doctype { color: #676B79; }

.punctuation_definition { color: #E6E6E6; }

.storage_type { color: #FFB86C; }

.string { color: #19f9d8; }

.string_interpolated { color: #19f9d8; }

.string_quoted { color: #19f9d8; }

.string_quoted_single { color: #19f9d8; }

.string_quoted_double { color: #19f9d8; }

.string_quoted_other { color: #19f9d8; }

.string_regexp { color: #6FC1FF; }

.string_html { color: #19f9d8; }

.support { color: #FFCC95; }

.support_constant { color: #FFCC95; }

.support_type { color: #FFCC95; }

.support_type_property-name { color: #FFCC95; }

.variable { color: #FF9AC1; }

.variable_language { color: #FF9AC1; }

.variable_other { color: #FF9AC1; }
