.foreground { color: #53676D; }

.background { color: #FBF3DB; }

.comment { color: #909995; }

.comment_block { color: #909995; }

.comment_line { color: #909995; }

.comment_line_number-sign { color: #909995; }

.constant_character_escape { color: #D2212D; }

.constant_language { color: #009C8F; }

.constant_numeric { color: #009C8F; }

.constant_numeric_float { color: #009C8F; }

.constant_numeric_integer { color: #009C8F; }

.constant_other { color: #53676D; }

.constant_other_symbol { color: #53676D; }

.entity_name { color: #0072D4; }

.entity_name_class { color: #0072D4; }

.entity_name_tag { color: #0072D4; }

.entity_name_tag_css { color: #489100; }

.entity_name_type { color: #0072D4; }

.entity_other_attribute-name { color: #0072D4; }

.entity_other_attribute-name_id { color: #489100; }

.entity_other_attribute-name_html { color: #489100; }

.invalid { color: #CC1729; }

.keyword_control { color: #489100; }

.keyword_control_at-rule { color: #489100; }

.keyword_control_import { color: #C25D1E; }

.keyword_operator { color: #489100; }

.keyword_other_important { color: #489100; }

.keyword_other_directive { color: #489100; }

.markup_bold { color: #53676D; }

.markup_heading { color: #A78300; }

.markup_italic { color: #53676D; }

.markup_quote { color: #53676D; }

.markup_raw { color: #0072D4; }

.meta_doctype { color: #909995; }

.punctuation_definition { color: #53676D; }

.storage_type { color: #489100; }

.string { color: #009C8F; }

.string_interpolated { color: #009C8F; }

.string_quoted { color: #009C8F; }

.string_quoted_single { color: #009C8F; }

.string_quoted_double { color: #009C8F; }

.string_quoted_other { color: #009C8F; }

.string_regexp { color: #009C8F; }

.string_html { color: #009C8F; }

.support { color: #0072D4; }

.support_constant { color: #0072D4; }

.support_type { color: #AD8900; }

.support_type_property-name { color: #0072D4; }

.variable { color: #53676D; }

.variable_language { color: #D2212D; }

.variable_other { color: #C25D1E; }
