.foreground { color: #B9B9B9; }

.background { color: #181818; }

.highlight { color: #DEDEDE; }

.comment { color: #777777; }

.comment_block { color: #777777; }

.comment_line { color: #777777; }

.comment_line_number-sign { color: #777777; }

.constant_character_escape { color: #ED4A46; }

.constant_language { color: #3FC5B7; }

.constant_numeric { color: #3FC5B7; }

.constant_numeric_float { color: #3FC5B7; }

.constant_numeric_integer { color: #3FC5B7; }

.constant_other { color: #B9B9B9; }

.constant_other_symbol { color: #B9B9B9; }

.entity_name { color: #368AEB; }

.entity_name_class { color: #368AEB; }

.entity_name_tag { color: #368AEB; }

.entity_name_tag_css { color: #70B433; }

.entity_name_type { color: #368AEB; }

.entity_other_attribute-name { color: #368AEB; }

.entity_other_attribute-name_id { color: #70B433; }

.entity_other_attribute-name_html { color: #70B433; }

.invalid { color: #FF5E56; }

.keyword_control { color: #70B433; }

.keyword_control_at-rule { color: #70B433; }

.keyword_control_import { color: #E67F43; }

.keyword_operator { color: #70B433; }

.keyword_other_important { color: #70B433; }

.keyword_other_directive { color: #70B433; }

.markup_bold { color: #B9B9B9; }

.markup_heading { color: #EFC541; }

.markup_italic { color: #B9B9B9; }

.markup_quote { color: #B9B9B9; }

.markup_raw { color: #368AEB; }

.meta_doctype { color: #777777; }

.punctuation_definition { color: #B9B9B9; }

.storage_type { color: #70B433; }

.string { color: #3FC5B7; }

.string_interpolated { color: #3FC5B7; }

.string_quoted { color: #3FC5B7; }

.string_quoted_single { color: #3FC5B7; }

.string_quoted_double { color: #3FC5B7; }

.string_quoted_other { color: #3FC5B7; }

.string_regexp { color: #3FC5B7; }

.string_html { color: #3FC5B7; }

.support { color: #368AEB; }

.support_constant { color: #368AEB; }

.support_type { color: #DBB32D; }

.support_type_property-name { color: #368AEB; }

.variable { color: #B9B9B9; }

.variable_language { color: #ED4A46; }

.variable_other { color: #E67F43; }
