/* Source: https://github.com/dieghernan/pretty-themes */
.foreground { color: #ADBCBC; }

.background { color: #103C48; }

.highlight { color: #174956; }

.comment { color: #72898F; }

.comment_block { color: #72898F; }

.comment_line { color: #72898F; }

.comment_line_number-sign { color: #72898F; }

.constant_character_escape { color: #FA5750; }

.constant_language { color: #41C7B9; }

.constant_numeric { color: #41C7B9; }

.constant_numeric_float { color: #41C7B9; }

.constant_numeric_integer { color: #41C7B9; }

.constant_other { color: #ADBCBC; }

.constant_other_symbol { color: #ADBCBC; }

.entity_name { color: #4695F7; }

.entity_name_class { color: #4695F7; }

.entity_name_tag { color: #4695F7; }

.entity_name_tag_css { color: #75B938; }

.entity_name_type { color: #4695F7; }

.entity_other_attribute-name { color: #4695F7; }

.entity_other_attribute-name_id { color: #75B938; }

.entity_other_attribute-name_html { color: #75B938; }

.invalid { color: #FF665C; }

.keyword_control { color: #75B938; }

.keyword_control_at-rule { color: #75B938; }

.keyword_control_import { color: #ED8649; }

.keyword_operator { color: #75B938; }

.keyword_other_important { color: #75B938; }

.keyword_other_directive { color: #75B938; }

.markup_bold { color: #ADBCBC; }

.markup_heading { color: #EBC13D; }

.markup_italic { color: #ADBCBC; }

.markup_quote { color: #ADBCBC; }

.markup_raw { color: #4695F7; }

.meta_doctype { color: #72898F; }

.punctuation_definition { color: #ADBCBC; }

.storage_type { color: #75B938; }

.string { color: #41C7B9; }

.string_interpolated { color: #41C7B9; }

.string_quoted { color: #41C7B9; }

.string_quoted_single { color: #41C7B9; }

.string_quoted_double { color: #41C7B9; }

.string_quoted_other { color: #41C7B9; }

.string_regexp { color: #41C7B9; }

.string_html { color: #41C7B9; }

.support { color: #4695F7; }

.support_constant { color: #4695F7; }

.support_type { color: #DBB32D; }

.support_type_property-name { color: #4695F7; }

.variable { color: #ADBCBC; }

.variable_language { color: #FA5750; }

.variable_other { color: #ED8649; }
