/* Source: https://github.com/dieghernan/pretty-themes */
.foreground { color: #474747; }

.background { color: #FFFFFF; }

.highlight { color: #282828; }

.comment { color: #878787; }

.comment_block { color: #878787; }

.comment_line { color: #878787; }

.comment_line_number-sign { color: #878787; }

.constant_character_escape { color: #D6000C; }

.constant_language { color: #00AD9C; }

.constant_numeric { color: #00AD9C; }

.constant_numeric_float { color: #00AD9C; }

.constant_numeric_integer { color: #00AD9C; }

.constant_other { color: #474747; }

.constant_other_symbol { color: #474747; }

.entity_name { color: #0064E4; }

.entity_name_class { color: #0064E4; }

.entity_name_tag { color: #0064E4; }

.entity_name_tag_css { color: #1D9700; }

.entity_name_type { color: #0064E4; }

.entity_other_attribute-name { color: #0064E4; }

.entity_other_attribute-name_id { color: #1D9700; }

.entity_other_attribute-name_html { color: #1D9700; }

.invalid { color: #BF0000; }

.keyword_control { color: #1D9700; }

.keyword_control_at-rule { color: #1D9700; }

.keyword_control_import { color: #D04A00; }

.keyword_operator { color: #1D9700; }

.keyword_other_important { color: #1D9700; }

.keyword_other_directive { color: #1D9700; }

.markup_bold { color: #474747; }

.markup_heading { color: #AF8500; }

.markup_italic { color: #474747; }

.markup_quote { color: #474747; }

.markup_raw { color: #0064E4; }

.meta_doctype { color: #878787; }

.punctuation_definition { color: #474747; }

.storage_type { color: #1D9700; }

.string { color: #00AD9C; }

.string_interpolated { color: #00AD9C; }

.string_quoted { color: #00AD9C; }

.string_quoted_single { color: #00AD9C; }

.string_quoted_double { color: #00AD9C; }

.string_quoted_other { color: #00AD9C; }

.string_regexp { color: #00AD9C; }

.string_html { color: #00AD9C; }

.support { color: #0064E4; }

.support_constant { color: #0064E4; }

.support_type { color: #C49700; }

.support_type_property-name { color: #0064E4; }

.variable { color: #474747; }

.variable_language { color: #D6000C; }

.variable_other { color: #D04A00; }
