.foreground { color: #ffffff; }

.background { color: #2b2836; }

.comment { color: #655e7f; }

.comment_block { color: #655e7f; }

.comment_line { color: #655e7f; }

.comment_line_number-sign { color: #655e7f; }

.constant_character_escape { color: #93b4ff; }

.constant_language { color: #ff8adb; }

.constant_numeric { color: #ff8adb; }

.constant_numeric_float { color: #ff8adb; }

.constant_numeric_integer { color: #ff8adb; }

.constant_other { color: #f3e4a2; }

.constant_other_symbol { color: #f3e4a2; }

.entity_name { color: #bd93f9; }

.entity_name_class { color: #bd93f9; }

.entity_name_tag { color: #f3e4a2; }

.entity_name_tag_css { color: #bd93f9; }

.entity_name_type { color: #a7aec2; }

.entity_other_attribute-name { color: #ff8adb; }

.entity_other_attribute-name_id { color: #bd93f9; }

.entity_other_attribute-name_html { color: #bd93f9; }

.invalid { color: #f36a66; }

.keyword_control { color: #bd93f9; }

.keyword_control_at-rule { color: #f3e4a2; }

.keyword_control_import { color: #bd93f9; }

.keyword_operator { color: #f3e4a2; }

.keyword_other_important { color: #ff8adb; }

.keyword_other_directive { color: #84fba2; }

.markup_bold { color: #ffffff; }

.markup_heading { color: #bd93f9; }

.markup_italic { color: #ffffff; }

.markup_quote { color: #ffffff; }

.markup_raw { color: #84fba2; }

.meta_doctype { color: #655e7f; }

.punctuation_definition { color: #dce7fd; }

.storage_type { color: #bd93f9; }

.string { color: #93b4ff; }

.string_interpolated { color: #93b4ff; }

.string_quoted { color: #93b4ff; }

.string_quoted_single { color: #93b4ff; }

.string_quoted_double { color: #93b4ff; }

.string_quoted_other { color: #93b4ff; }

.string_regexp { color: #84fba2; }

.string_html { color: #93b4ff; }

.support { color: #ffffff; }

.support_constant { color: #ffffff; }

.support_type { color: #93b4ff; }

.support_type_property-name { color: #bd93f9; }

.variable { color: #ffffff; }

.variable_language { color: #ffffff; }

.variable_other { color: #ffffff; }
