/* Source: https://github.com/dieghernan/pretty-themes */
.foreground { color: #ffffff; }

.background { color: #1c1b1b; }

.highlight { color: #184956; }

.comment { color: #999999; }

.comment_block { color: #999999; }

.comment_line { color: #999999; }

.comment_line_number-sign { color: #999999; }

.constant_character_escape { color: #ffffff; }

.constant_language { color: #f08d49; }

.constant_numeric { color: #f08d49; }

.constant_numeric_float { color: #f08d49; }

.constant_numeric_integer { color: #f08d49; }

.constant_other { color: #ffffff; }

.constant_other_symbol { color: #b5bd68; }

.entity_name { color: #ffffff; }

.entity_name_class { color: #ffffff; }

.entity_name_tag { color: #f08d49; }

.entity_name_tag_css { color: #88aece; }

.entity_name_type { color: #ffffff; }

.entity_other_attribute-name { color: #ffffff; }

.entity_other_attribute-name_id { color: #f08d49; }

.entity_other_attribute-name_html { color: #88aece; }

.invalid { color: #de7176; }

.keyword_control { color: #88aece; }

.keyword_control_at-rule { color: #88aece; }

.keyword_control_import { color: #88aece; }

.keyword_operator { color: #ffffff; }

.keyword_other_important { color: #88aece; }

.keyword_other_directive { color: #88aece; }

.markup_bold { color: #ffffff; }

.markup_heading { color: #88aece; }

.markup_italic { color: #ffffff; }

.markup_quote { color: #f08d49; }

.markup_raw { color: #cccccc; }

.meta_doctype { color: #999999; }

.punctuation_definition { color: #ffffff; }

.storage_type { color: #88aece; }

.string { color: #b5bd68; }

.string_interpolated { color: #b5bd68; }

.string_quoted { color: #b5bd68; }

.string_quoted_single { color: #b5bd68; }

.string_quoted_double { color: #b5bd68; }

.string_quoted_other { color: #b5bd68; }

.string_regexp { color: #b5bd68; }

.string_html { color: #b5bd68; }

.support { color: #ffffff; }

.support_constant { color: #ffffff; }

.support_type { color: #c59bc1; }

.support_type_property-name { color: #88aece; }

.variable { color: #b5bd68; }

.variable_language { color: #b5bd68; }

.variable_other { color: #b5bd68; }
