$ui_background: white !default;
$ui_foreground: black !default;
$ui_cursor: blue !default;
$ui_selection: grey !default;

$fg: $ui_background !default;
$bg: $ui_foreground !default;
$accent: $ui_cursor !default;
$selection: $ui_selection !default;

$bgaccent1: mix($ui_background, $accent, 98%);
$bgaccent2: mix($ui_background, $accent, 80%);
$bgfg1: mix( $ui_background,$ui_foreground, 90%);
$bgfg2: mix($ui_background,$ui_foreground,  70%);

/* ---- RStudio Theme ---- */
/* background */
.rstudio-themes-flat .rstudio-themes-dark-grey {
  background: $bgfg1;
  color: $fg;
  .rstudio-themes-background {
    background: $bgfg1;
  }
  /* collapsed toolbar on rstudio server */
  [role="banner"] + [role="navigation"],
  header + [role="navigation"] {
    & > table > tbody > tr > td {
      background: $bgaccent1;
      border-color: $bgaccent1;
    }
  }
  .rstudio-themes-border {
    border-color: $bgaccent1;
  }
}


// Tabs

.rstudio-themes-dark-grey {
// BG panel 
.gwt-TabLayoutPanelTabs, .rstheme_multiPodUtilityTabArea {
    background: $bgaccent1;
  }
}

/* inactive tabs */
.rstudio-themes-dark-grey .gwt-TabLayoutPanelTabs table.rstheme_tabLayoutCenter,
.rstudio-themes-dark-grey .rstheme_minimizedWindowObject table.rstheme_tabLayoutCenter {
  background: $bgfg1;

  .gwt-Label {
    color: $ui_foreground;
  }
}


/* active tabs */

.rstudio-themes-dark-grey {

  .gwt-TabLayoutPanelTabs
    .gwt-TabLayoutPanelTab-selected
    table.rstheme_tabLayoutCenter {
    background: $bgaccent2;

    .gwt-Label {
      color: $accent;
      font-style: italic; // vscode style
    }
  }
  
  // Hover on panel
  .gwt-TabLayoutPanelTab:hover .rstheme_tabLayoutCenter {
    background: $selection;
  }
}