$ui_background: white !default;
$ui_foreground: black !default;
$ui_cursor: blue !default;
$ui_selection: grey !default;

// General
$ui_rstudio_background: lighten($ui_background, 5%) !default;
$ui_rstudio_foreground: darken($ui_foreground, 10%) !default;
$ui_rstudio_border: $ui_background !default;

// Tabs
$ui_rstudio_tabs_active_background: darken($ui_background, 5%) !default;
$ui_rstudio_tabs_active_foreground: $ui_rstudio_foreground !default;
$ui_rstudio_tabs_inactive_background: lighten($ui_rstudio_background, 2%) !default;
$ui_rstudio_tabs_inactive_foreground: transparentize($ui_rstudio_tabs_active_foreground, 0.1) !default;
$ui_rstudio_tabs_inactive_hover_background: darken( $ui_rstudio_background, 5%) !default;

$ui_rstudio_toolbar_background: $ui_rstudio_tabs_active_background !default;
$ui_rstudio_toolbar_foreground: $ui_foreground !default;
$ui_rstudio_search: $ui_rstudio_toolbar_background !default;

// Completions
$ui_completions_background: $ui_background !default;
$ui_completions_foreground: $ui_foreground !default;
$ui_completions_selected_foreground: $ui_foreground !default;
$ui_completions_selected_background: $ui_background !default;
$ui_completions_border: transparentize($ui_cursor, 0.6) !default;

//Scroll Bar
$ui_rstudio_scrollbar_background: lighten($ui_background, 5%) !default;
$ui_rstudio_scrollbar_handle: darken($ui_background, 5%) !default;
$ui_rstudio_scrollbar_handle_border: $ui_rstudio_background !default;

// Progress Bar
$ui_rstudio_job_progress_bar: opacify($ui_selection, 1) !default;

/* ---- RStudio Theme ---- */
/* background */
.rstudio-themes-flat .rstudio-themes-alternate {
  background: $ui_rstudio_background;
  color: $ui_rstudio_foreground;
  .rstudio-themes-background {
    background: $ui_rstudio_background;
  }
  /* collapsed toolbar on rstudio server */
  [role="banner"] + [role="navigation"],
  header + [role="navigation"] {
    & > table > tbody > tr > td {
      background: $ui_rstudio_background;
      border-color: $ui_rstudio_border;
    }
  }
  .rstudio-themes-border {
    border-color: $ui_rstudio_border;
  }
}

/* inactive tabs */
.rstudio-themes-alternate .gwt-TabLayoutPanelTabs table.rstheme_tabLayoutCenter,
.rstudio-themes-alternate .rstheme_minimizedWindowObject table.rstheme_tabLayoutCenter {
  background: $ui_rstudio_tabs_inactive_background;
  border-top: 2px solid $ui_rstudio_tabs_inactive_background;

  .gwt-Label {
    color: $ui_rstudio_tabs_inactive_foreground;
  }
}

.rstudio-themes-alternate .rstheme_multiPodUtilityTabArea {
  background: darken($ui_rstudio_tabs_active_background, 2%);
}

/* active tabs */
.rstudio-themes-alternate {
  .gwt-TabLayoutPanelTabs {
    background: $ui_rstudio_tabs_active_background;
  }

  .gwt-TabLayoutPanelTabs
    .gwt-TabLayoutPanelTab-selected
    table.rstheme_tabLayoutCenter {
    background: $ui_rstudio_tabs_active_background;
    border-top: 2px solid $ui_cursor;

    .gwt-Label {
      color: $ui_rstudio_tabs_active_foreground;
    }
  }
  .gwt-TabLayoutPanelTab:hover .rstheme_tabLayoutCenter {
    background: $ui_rstudio_tabs_inactive_hover_background;
    border-top: 2px solid $ui_rstudio_tabs_active_background;
  }
}

/* toolbar and search */
.rstudio-themes-alternate {
  .rstheme_center {
    background-color: $ui_rstudio_tabs_inactive_background;
  }
  .search {
    background-color: $ui_rstudio_search;
  }
  .gwt-SplitLayoutPanel-HDragger,
  .gwt-SplitLayoutPanel-VDragger {
    background: transparent;
  }
  .rstheme_toolbarWrapper {
    background: $ui_rstudio_toolbar_background;
    button,
    a,
    div {
      color: darken($ui_rstudio_toolbar_foreground, 10%);
    }
  }
}

#rstudio_workbench_panel_find_in_files td[colspan="2"] {
  /* file name in Find in Files */
  color: $ui_cursor;
}

/* pane toolbars */

.rstudio-themes-alternate {
  .rstheme_secondaryToolbar,
  .dataGridHeader {
    background: $ui_background;
  }
}

/* menu background */
.rstudio-themes-flat {
  .popupMiddleCenter,
  .menuPopupMiddleCenter,
  .suggestPopupMiddleCenter {
    background: $ui_completions_background;
    color: $ui_completions_foreground;

    .item.item-selected {
      color: $ui_completions_selected_foreground;
      background: $ui_completions_selected_background;
    }
  }

  .themedPopupPanel {
    border: solid 1px $ui_completions_border;
    & ~ div.popupContent div:nth-child(1) {
      border: solid 1px $ui_completions_border;
    }
  }

  .popupContent {
    background: $ui_completions_background;
    color: $ui_completions_foreground;
    border-color: $ui_completions_border;
    &:not(.popupMiddleCenterInner) div div:nth-child(2) {
      background-color: unset;
      border: none;
    }
    & + .rstudio-themes-scrollbars {
      border-color: $ui_completions_border;
    }
  }

  .gwt-PopupPanel .popupContent {
    background: $ui_completions_background;
    padding: 2px;
    table {
      background: $ui_completions_foreground;
      border: 0;
      .gwt-Label {
        color: $ui_completions_background;
      }
    }
  }
  .gwt-MenuItem.gwt-MenuItem-selected,
  .gwt-MenuItem.gwt-MenuItem-selected > table {
    background: darken($ui_completions_selected_background, 10%);
    color: $ui_completions_selected_foreground;
  }
}

/* datagrid */
.rstudio-themes-alternate {
  .dataGridHeader,
  tr[__gwt_header_row] > :-webkit-any(td, th),
  .dataTables_info {
    background-color: $ui_rstudio_background;
    border-color: darken($ui_background, 10%);
    border-width: 1px;
  }
}

/* hacky toolbars section */

.rstudio-themes-alternate {
  /* Data Frame Preview */
  .dataTables_wrapper thead th {
    background-color: darken($ui_rstudio_tabs_active_background, 5%) !important;
    color: $ui_rstudio_tabs_active_foreground !important;
  }
  .dataTables_scrollBody table tbody td:first-child {
    background: darken($ui_rstudio_tabs_active_background, 5%) !important;
    color: $ui_rstudio_foreground;
  }
  .dataTables_info {
    background: darken($ui_rstudio_tabs_active_background, 5%) !important;
    color: $ui_rstudio_tabs_active_foreground;
  }
}

/* scrollbars */
/* reset scrollbar background color */
.rstudio-themes-flat {
  .rstudio-themes-dark.rstudio-themes-scrollbars ::-webkit-scrollbar,
  .rstudio-themes-flat
    .rstudio-themes-dark.rstudio-themes-scrollbars::-webkit-scrollbar,
  &.rstudio-themes-dark-menus .rstudio-themes-scrollbars ::-webkit-scrollbar {
    background-color: unset;
  }
  .ace_scroller {
    overflow: visible;
  }
}
.rstudio-themes-flat,
.rstudio-themes-flat .rstudio-themes-dark.rstudio-themes-scrollbars {
  /* Works on Firefox */
  scrollbar-width: auto;
  scrollbar-color: $ui_rstudio_scrollbar_handle $ui_rstudio_scrollbar_background;

  /* Works on Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: auto;
  }

  *::-webkit-scrollbar-track {
    background: $ui_rstudio_scrollbar_background;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $ui_rstudio_scrollbar_handle;
    border-radius: 0px;
    border: 2px solid $ui_rstudio_scrollbar_handle_border;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: lighten($ui_rstudio_scrollbar_handle, 5%);
  }
}

/* fix overly zealous css rules */
.gwt-DialogBox-ModalDialog .dialogContent .gwt-Label {
  color: #333333;
}

/* job progress bar */
.rstheme_toolbarWrapper,
.windowframe {
  [role="progressbar"] > div {
    background-color: $ui_rstudio_job_progress_bar;
  }
}

.ace_gutter-layer {
  background-color: lighten($ui_background, 5%);
}
