
@import "_vars.scss";

.foreground {color: $foreground;}
.background {color: $background;}
.highlight {color: $highlight;}
.comment {color: $comment;}
.comment_block {color: $comment_block;}
.comment_line {color: $comment_line;}
.comment_line_number-sign {color: $comment_line_number-sign;}
.constant_character_escape {color: $constant_character_escape;}
.constant_language {color: $constant_language;}
.constant_numeric {color: $constant_numeric;}
.constant_numeric_float {color: $constant_numeric_float;}
.constant_numeric_integer {color: $constant_numeric_integer;}
.constant_other {color: $constant_other;}
.constant_other_symbol {color: $constant_other_symbol;}
.entity_name {color: $entity_name;}
.entity_name_class {color: $entity_name_class;}
.entity_name_tag {color: $entity_name_tag;}
.entity_name_tag_css {color: $entity_name_tag_css;}
.entity_name_type {color: $entity_name_type;}
.entity_other_attribute-name {color: $entity_other_attribute-name;}
.entity_other_attribute-name_id {color: $entity_other_attribute-name_id;}
.entity_other_attribute-name_html {color: $entity_other_attribute-name_html;}
.invalid {color: $invalid;}
.keyword_control {color: $keyword_control;}
.keyword_control_at-rule {color: $keyword_control_at-rule;}
.keyword_control_import {color: $keyword_control_import;}
.keyword_operator {color: $keyword_operator;}
.keyword_other_important {color: $keyword_other_important;}
.keyword_other_directive {color: $keyword_other_directive;}
.markup_bold {color: $markup_bold;}
.markup_heading {color: $markup_heading;}
.markup_italic {color: $markup_italic;}
.markup_quote {color: $markup_quote;}
.markup_raw {color: $markup_raw;}
.meta_doctype {color: $meta_doctype;}
.punctuation_definition {color: $punctuation_definition;}
.storage_type {color: $storage_type;}
.string {color: $string;}
.string_interpolated {color: $string_interpolated;}
.string_quoted {color: $string_quoted;}
.string_quoted_single {color: $string_quoted_single;}
.string_quoted_double {color: $string_quoted_double;}
.string_quoted_other {color: $string_quoted_other;}
.string_regexp {color: $string_regexp;}
.string_html {color: $string_html;}
.support {color: $support;}
.support_constant {color: $support_constant;}
.support_type {color: $support_type;}
.support_type_property-name {color: $support_type_property-name;}
.variable {color: $variable;}
.variable_language {color: $variable_language;}
.variable_other {color: $variable_other;}
